<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="sidenav-icon" [matMenuTriggerFor]="menu">menu</mat-icon>
    <a class="toolbar-brand" href="#">HealthEquity Lunch & Learn</a>
    <span class="toolbar-spacer"></span>
    <button mat-button (click)="openLoginDialog()">Log In</button>
    <button mat-button (click)="openSignUpDialog()">Sign Up</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/courses">Courses</button>
      <button mat-menu-item routerLink="/rooms">Rooms</button>
      <button mat-menu-item routerLink="/sessions">Sessions</button>
      <button mat-menu-item routerLink="/tracks">Tracks</button>
      <button mat-menu-item routerLink="/users">Users</button>
  </mat-menu>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="router-margin">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
