<h2 mat-dialog-title>User Details</h2>
<mat-dialog-content>
  <form (ngSubmit)="save()" [formGroup]="personSignUpForm">
     <mat-form-field style="width:100%">
       <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field style="width:100%">
      <input matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field style="width:100%">
      <input matInput placeholder="Password">
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput placeholder="ConfirmPassword">
      </mat-form-field>
 </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true" tabindex="1" color="accent" style="width:100%">Sign Up</button>
</mat-dialog-actions>

