<form class="form-horizontal" novalidate (submit)="createInstructor(newInstructor)" [formGroup]="newInstructor">
  <fieldset>
  <div class="form-group">
    <label for="instructorName" class="col-lg-2 control-label">Instructor Name</label>
    <div class="col-lg-10">
    <input type="text"  class="form-control" placeholder="Instructor name" formControlName="instructorName">
    </div>
    <div class="error" *ngIf="newInstructor.get('instructorName').hasError('required') && newInstructor.get('instructorName').touched">
    Instructor Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="isActive" class="col-lg-2 control-label">Is Active</label>
    <div class="col-lg-10">
      <input type="checkbox"  class="form-control" formControlName="isActive">
    </div>
  </div>
      <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" [disabled]="newInstructor.invalid">Create Instructor</button>
      </div>
    </div>
  </fieldset>
</form>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
      <!--Body content-->
      <table id="instructors" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Instructor Id</th>
            <th>Instructor Name</th>
            <th>Is Active</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let instructor of instructors | paginate: { itemsPerPage: 20, currentPage: page }">
              <td>{{instructor.instructorId}}</td>
              <td>{{instructor.instructorName}}</td>
              <td>{{instructor.isActive}}</td>
            </tr>
          </tbody>
       </table>
      </div>
    </div>
    <div class="has-text-centered">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>