<form class="form-horizontal" novalidate (submit)="createPerson(newPerson)" [formGroup]="newPerson">
  <fieldset>
  <div class="form-group">
    <label for="name" class="col-lg-2 control-label">Person Name</label>
    <div class="col-lg-10">
    <input type="text"  class="form-control" placeholder="Person name" formControlName="name">
    </div>
    <div class="error" *ngIf="newPerson.get('name').hasError('required') && newPerson.get('name').touched">
    Person Name is required
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="submit" class="btn btn-primary" [disabled]="newPerson.invalid">Create Person</button>
    </div>
  </div>
  </fieldset>
</form>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
      <!--Body content-->
      <table id="persons" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Person Id</th>
            <th>Person Name</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of persons | paginate: { itemsPerPage: 20, currentPage: page }">
              <td>{{person.personId}}</td>
              <td>{{person.name}}</td>
            </tr>
          </tbody>
       </table>
      </div>
    </div>
    <div class="has-text-centered">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>